#YouTube Link :

https://youtu.be/GyUbo45mVSE

#Working on Real Project with Python

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/content/3. Police Data.csv")

In [3]:
data.head()

   stop_date stop_time  ...  stop_duration drugs_related_stop
0   1/2/2005      1:55  ...       0-15 Min              False
1  1/18/2005      8:15  ...       0-15 Min              False
2  1/23/2005     23:15  ...       0-15 Min              False
3  2/20/2005     17:15  ...      16-30 Min              False
4  3/14/2005     10:00  ...       0-15 Min              False

[5 rows x 15 columns]

In [4]:
data.shape

(65535, 15)

##1. Remove the column that only contains missing values.

In [5]:
#for data cleaning
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [6]:
data.drop(columns="country_name",inplace=True)

In [7]:
data

       stop_date stop_time  ... stop_duration  drugs_related_stop
0       1/2/2005      1:55  ...      0-15 Min               False
1      1/18/2005      8:15  ...      0-15 Min               False
2      1/23/2005     23:15  ...      0-15 Min               False
3      2/20/2005     17:15  ...     16-30 Min               False
4      3/14/2005     10:00  ...      0-15 Min               False
...          ...       ...  ...           ...                 ...
65530  12/6/2012     17:54  ...      0-15 Min               False
65531  12/6/2012     22:22  ...      0-15 Min               False
65532  12/6/2012     23:20  ...      0-15 Min               False
65533  12/7/2012      0:23  ...           NaN               False
65534  12/7/2012      0:30  ...      0-15 Min               False

[65535 rows x 14 columns]

##2. For speeding , were men or women stopped more often?

In [8]:
data[data["violation_raw"]=="Speeding"].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [9]:
data[data["violation_raw"]=="Speeding"]

       stop_date stop_time  ... stop_duration  drugs_related_stop
0       1/2/2005      1:55  ...      0-15 Min               False
1      1/18/2005      8:15  ...      0-15 Min               False
2      1/23/2005     23:15  ...      0-15 Min               False
4      3/14/2005     10:00  ...      0-15 Min               False
6       4/1/2005     17:30  ...      0-15 Min               False
...          ...       ...  ...           ...                 ...
65527  12/6/2012     15:26  ...      0-15 Min               False
65529  12/6/2012     16:00  ...      0-15 Min               False
65530  12/6/2012     17:54  ...      0-15 Min               False
65531  12/6/2012     22:22  ...      0-15 Min               False
65534  12/7/2012      0:30  ...      0-15 Min               False

[37204 rows x 14 columns]

##3. Does gender affect who gets searched during a stop?

In [10]:
data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 14 columns]

In [11]:
data.groupby("driver_gender").search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [12]:
data.search_conducted.value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

##4. What is the mean "Stop_duration"?

In [13]:
data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 14 columns]

In [14]:
data.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [15]:
data['stop_duration'] = data["stop_duration"] = data["stop_duration"].map({"0-15 Min":7.5, "16-30 Min":24, "30+ Min":45})

In [16]:
data

       stop_date stop_time  ... stop_duration  drugs_related_stop
0       1/2/2005      1:55  ...           7.5               False
1      1/18/2005      8:15  ...           7.5               False
2      1/23/2005     23:15  ...           7.5               False
3      2/20/2005     17:15  ...          24.0               False
4      3/14/2005     10:00  ...           7.5               False
...          ...       ...  ...           ...                 ...
65530  12/6/2012     17:54  ...           7.5               False
65531  12/6/2012     22:22  ...           7.5               False
65532  12/6/2012     23:20  ...           7.5               False
65533  12/7/2012      0:23  ...           NaN               False
65534  12/7/2012      0:30  ...           7.5               False

[65535 rows x 14 columns]

In [17]:
data["stop_duration"].mean()

12.187420698181345

##5. Compare the age distribution for each violation

In [18]:
data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...           7.5               False
1  1/18/2005      8:15  ...           7.5               False

[2 rows x 14 columns]

In [19]:
data.groupby("violation").driver_age.describe()

                       count       mean        std  ...   50%   75%   max
violation                                           ...
Equipment             6507.0  31.682957  11.380671  ...  28.0  39.0  81.0
Moving violation     11876.0  36.736443  13.258350  ...  35.0  47.0  86.0
Other                 3477.0  40.362381  12.754423  ...  41.0  50.0  86.0
Registration/plates   2240.0  32.656696  11.150780  ...  30.0  40.0  74.0
Seat belt                3.0  30.333333  10.214369  ...  26.0  34.0  42.0
Speeding             37120.0  33.262581  12.615781  ...  30.0  42.0  88.0

[6 rows x 8 columns]