YouTube Link :

 https://youtu.be/AO5uhxa1R84

#Working on Real Project with Python

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv(f"/content/7. Udemy Courses.csv")

In [ ]:
data.head()

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments
2    1193886  ...  Musical Instruments
3    1116700  ...  Musical Instruments
4    1120410  ...  Musical Instruments

[5 rows x 11 columns]

In [ ]:
data.shape

(3682, 11)

##1. What are the different subject for which Udemy is offering courses ?

In [ ]:
data.head(2)

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments

[2 rows x 11 columns]

In [ ]:
data.subject.unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

##2. Which subject has the maximum number of courses.

In [ ]:
data.subject.value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

##3. Show all the courses which are free of cost.

In [ ]:
data.head(2)

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments

[2 rows x 11 columns]

In [ ]:
data[(data.is_paid == False)]

      course_id  ...              subject
41       286070  ...  Musical Instruments
49       696630  ...  Musical Instruments
57       955914  ...  Musical Instruments
67       270976  ...      Web Development
74      1214144  ...     Business Finance
...         ...  ...                  ...
3620     552598  ...      Web Development
3638    1068590  ...      Web Development
3652     752706  ...      Web Development
3674    1257976  ...  Musical Instruments
3680    1225194  ...     Business Finance

[310 rows x 11 columns]

##4. Show all the courses which paid.

In [ ]:
data[data.is_paid == True]

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3676     498488  ...     Business Finance
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3681     964478  ...       Graphic Design

[3372 rows x 11 columns]

##5. Which are top selling courses ?

In [ ]:
data.sort_values('num_subscribers',ascending=False)

      course_id  ...              subject
2230      41295  ...      Web Development
776       59014  ...      Web Development
3385     625204  ...      Web Development
640      173548  ...      Web Development
3316     764164  ...      Web Development
...         ...  ...                  ...
2290    1223240  ...  Musical Instruments
1267    1258666  ...     Business Finance
2070    1215926  ...     Business Finance
1931    1247992  ...     Business Finance
3165    1087466  ...     Business Finance

[3682 rows x 11 columns]

##6. Which are least courses?

In [ ]:
data.sort_values('num_subscribers',ascending=True)

      course_id  ...           subject
649     1233314  ...  Business Finance
3259    1232282  ...  Business Finance
3261    1275872  ...    Graphic Design
910      726314  ...    Graphic Design
3328     715476  ...  Business Finance
...         ...  ...               ...
3316     764164  ...   Web Development
640      173548  ...   Web Development
3385     625204  ...   Web Development
776       59014  ...   Web Development
2230      41295  ...   Web Development

[3682 rows x 11 columns]

##7. Show all courses of Graphic Design where the price is equal 100 ?

In [ ]:
data.head(2)

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments

[2 rows x 11 columns]

In [ ]:
data[(data.subject == "Graphic Design") & (data.price == "100")]

      course_id  ...         subject
47      1269190  ...  Graphic Design
169      983444  ...  Graphic Design
184      638040  ...  Graphic Design
520      978462  ...  Graphic Design
699      757900  ...  Graphic Design
1029    1160004  ...  Graphic Design
1071    1161864  ...  Graphic Design
1444     490392  ...  Graphic Design
1568     727510  ...  Graphic Design
1616     996868  ...  Graphic Design
1697     654038  ...  Graphic Design
1773    1012262  ...  Graphic Design
1786    1246168  ...  Graphic Design
1797    1266468  ...  Graphic Design
2137     927186  ...  Graphic Design
2481    1027080  ...  Graphic Design
2491     771044  ...  Graphic Design
2576     482924  ...  Graphic Design
2704     950894  ...  Graphic Design
2706    1243016  ...  Graphic Design
2713    1147664  ...  Graphic Design
3479     575040  ...  Graphic Design
3594     908664  ...  Graphic Design

[23 rows x 11 columns]

##8. List out all the courses that are related with 'Python'.

In [ ]:
data[data.course_title.str.contains("Python")]

      course_id  ...           subject
216      599504  ...   Web Development
777       47963  ...   Web Development
814      631128  ...   Web Development
842      186096  ...   Web Development
1400     394832  ...   Web Development
1932    1038538  ...   Web Development
1969     902888  ...  Business Finance
2294     391546  ...   Web Development
2295    1063722  ...   Web Development
2341     546848  ...    Graphic Design
2906     368340  ...   Web Development
2908    1035940  ...   Web Development
2929     270808  ...   Web Development
2952    1170894  ...  Business Finance
2953    1070886  ...  Business Finance
2954    1196544  ...  Business Finance
2955     822444  ...   Web Development
2956     477702  ...   Web Development
2957    1035472  ...  Business Finance
2958     529828  ...  Business Finance
2959      70640  ...   Web Development
2960     523312  ...   Web Development
2962    1088656  ...  Business Finance
3013     970600  ...   Web Development
3154     815482  ...  Business Finance
3272     938560  ...   Web Development
3460      76052  ...   Web Development
3573      16646  ...   Web Development
3574     574082  ...   Web Development

[29 rows x 11 columns]

##9. What are the courses that published in year '2015'.

In [ ]:
data.head(2)

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments

[2 rows x 11 columns]

In [ ]:
data.dtypes

course_id               int64
course_title           object
is_paid                  bool
price                  object
num_subscribers         int64
num_reviews             int64
num_lectures            int64
level                  object
content_duration       object
published_timestamp    object
subject                object
dtype: object

In [ ]:
data['published_timestamp'] = pd.to_datetime(data.published_timestamp)

In [ ]:
data.dtypes

course_id                            int64
course_title                        object
is_paid                               bool
price                               object
num_subscribers                      int64
num_reviews                          int64
num_lectures                         int64
level                               object
content_duration                    object
published_timestamp    datetime64[ns, UTC]
subject                             object
dtype: object

In [ ]:
data["Year"]=data["published_timestamp"].dt.year

In [ ]:
data

      course_id                                       course_title  ...  year  Year
0        288942  #1 Piano Hand Coordination: Play 10th Ballad i...  ...  2014  2014
1       1170074  #10 Hand Coordination - Transfer Chord Ballad ...  ...  2017  2017
2       1193886  #12 Hand Coordination: Let your Hands dance wi...  ...  2017  2017
3       1116700  #4 Piano Hand Coordination: Fun Piano Runs in ...  ...  2017  2017
4       1120410  #5  Piano Hand Coordination:  Piano Runs in 2 ...  ...  2017  2017
...         ...                                                ...  ...   ...   ...
3677     328960  Your Own Site in 45 Min: The Complete Wordpres...  ...  2015  2015
3678     552700    Your Second Course on Piano: Two Handed Playing  ...  2015  2015
3679     631754  Zend Framework 2: Learn the PHP framework ZF2 ...  ...  2015  2015
3680    1225194  Zoho Books Gestion Financière d'Entreprise pas...  ...  2017  2017
3681     964478                Zombie Apocalypse Photoshop Actions  ...  2016  2016

[3682 rows x 13 columns]

In [ ]:
data[data.Year == 2015]

      course_id                                       course_title  ...  year  Year
10       591880  1 - Concepts of Statistics For Beginners Step ...  ...  2015  2015
16       302450        10 Numbers Every Business Owner Should Know  ...  2015  2015
19       384928  101 Blues riffs - learn how the harmonica supe...  ...  2015  2015
23       550842  16 Guitar Chords to Jam With - (Beginner - Int...  ...  2015  2015
26       486240      2 Easy Steps To Investment And Avoiding Traps  ...  2015  2015
...         ...                                                ...  ...   ...   ...
3675     551170                         Your First Course on Piano  ...  2015  2015
3676     498488  Your First Successful Forex Trades - With Case...  ...  2015  2015
3677     328960  Your Own Site in 45 Min: The Complete Wordpres...  ...  2015  2015
3678     552700    Your Second Course on Piano: Two Handed Playing  ...  2015  2015
3679     631754  Zend Framework 2: Learn the PHP framework ZF2 ...  ...  2015  2015

[1014 rows x 13 columns]

##10. What are the max. number of Suscribers for Each level of courses ?

In [ ]:
data.head()

   course_id                                       course_title  ...  year  Year
0     288942  #1 Piano Hand Coordination: Play 10th Ballad i...  ...  2014  2014
1    1170074  #10 Hand Coordination - Transfer Chord Ballad ...  ...  2017  2017
2    1193886  #12 Hand Coordination: Let your Hands dance wi...  ...  2017  2017
3    1116700  #4 Piano Hand Coordination: Fun Piano Runs in ...  ...  2017  2017
4    1120410  #5  Piano Hand Coordination:  Piano Runs in 2 ...  ...  2017  2017

[5 rows x 13 columns]

In [ ]:
data.level.unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

In [ ]:
data.groupby("level")["num_subscribers"].max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64

In [ ]:
data.groupby("level").max()

                    course_id  ...  Year
level                          ...
All Levels            1277924  ...  2017
Beginner Level        1282064  ...  2017
Expert Level          1275790  ...  2017
Intermediate Level    1276182  ...  2017

[4 rows x 12 columns]